<div>
    <h1>Add Post</h1>
    <form>

        <div class="form-outline mb-4">
            <input type="text" class="form-control form-control-lg" name="post-id" />
            <label class="form-label" for="post-id">Title</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" class="form-control form-control-lg" name="post-comment" />
            <label class="form-label" for="comment-body">Comment</label>
        </div>

        <div class="d-flex justify-content-center">
            <button type="button" id="new-comment-form" class="btn btn-primary btn-lg btn-block">Comment</button>
        </div>

    </form>
</div>

<script src="/js/comment.js"></script>